*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #24272c;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  
  h2,
  h3,
  a {
      color: #34495e;
  }
  
  a {
      text-decoration: none;
  }
.logo {
      margin: 0;
      font-size: 1.45em;
  }
  
  .main-nav {
      margin-top: 5px;
  
  }
  .logo a,
  .main-nav a {
      padding: 4px 12px;
      text-align: center;
      display: block;
      color: rgba(255, 255, 255, 0.712);
      font-family: 'Neonderthaw', cursive;
      letter-spacing: 2px;
      font-size: 30px;
  }
  
  .main-nav a {
      color: #2e5070;
      font-size: .99em;
      font-family: 'Merriweather', sans-serif;
  }
  
  .main-nav a:hover {
      color: #718daa;
  }
  
  
  
  .header {
      padding-top: .5em;
      padding-bottom: .5em;
      border: 1px solid #a2a2a2;
      background-color: #f4f4f4;
      -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
  }
  
  
  /* ================================= 
    Media Queries
  ==================================== */
  
  
  @media (min-width: 769px) {
      .header,
      .main-nav {
          display: flex;
          margin: 0;
      }
    .header ul li{
        line-height: 18px;
    }
      .header {
          flex-direction: column;
          align-items: center;
      }
        .header{
          width: 100%;
          margin: 0 auto;
          max-width: 1150px;
        }
      }
  
  @media (min-width: 1025px) {
      .header {
          flex-direction: row;
          justify-content: space-between;
      }
  
  }
.header {
    background: #061a2e;
    border-radius: 12px;
    box-shadow: 0 4px 30px #121213;
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid #122233;
}

  /*end of navbar*/
.container {
    padding-left: 94px;
    padding-right: 113px;
}
.container h6{
    font-family: 'Merriweather', serif;
    font-size: 11px;
    display: block;
    margin-block-start: 32px;
    margin-block-end: auto;
    color: #d1cece9c;
}

    
h1{
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    margin-block-start: auto;
    margin-block-end: auto;
    color: #d1cece;
}
h2{
    font-family: 'Amatic SC', cursive;
    color: #d1cece;
    margin-block-start: 27px;
    margin-block-end: auto; 
    font-size: 50px;
}
.hslide > p{
    font-family: 'Source Serif Pro', serif;
    color: #d1cece75;
    font-size: 11px;
    font-weight: bold;
    max-width: 60%;
   
}
#about > h2{
    font-family: 'Source Serif Pro', serif;
    font-size: 41px;
    margin-top: 30px;
}
#about > p{
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    color: #ffffff82;
}
.Navlink{
    padding: 18px;
    text-decoration: none;
    font-size: 19px;
    color: #d1cece;

}
header ul{
    float:right;
    margin-right: 10%;
}
header ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
header ul li a{
    color: #d1cece;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    padding: 10px;
}
label img{
    padding-top: 20px;
    opacity: 5;
    max-height: 50%;
}
.card{
    position: relative;
    width: 70vmin;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
}
.imgcontainer{
    position: relative;
}
.text-block{
    position: absolute;
    right: 299px;
    top: 331px;
    left: 296px;
    bottom: -126px;
}
img{
    opacity: 0.8;
}
.cardImg{
    background-image: url(images/robot-nod32-eset-wallpaper-black-background.jpg);
    max-width: 100%;
    max-height: 100%;
}
.hwrap {
    /* (A1) DIMENSIONS */
    width: 100%;
    height: 430px; /* OPTIONAL */
  
    /* (A2) COSMETICS */
    background: #fffdea00;
    overflow: hidden; /* HIDE SCROLLBARS */
  }
  
  /* (B) MIDDLE CONTAINER - FLEX LAYOUT */
  .hmove {
    display: flex;
    position: relative;
    top: 0; right: 0;
  }
  
  /* (C) SLIDES - FORCE INTO ONE LONG HORIZONTAL ROW */
  .hslide {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(248, 245, 245, 0);
    color: white;
    border-radius: 13px;
    padding-left: 25%;
  }
  .hslide > .wrapper > .wrapper > .img-area,
  .social-icons a,
  .buttons > button{
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 19px;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  }
  .hslide > .wrapper > .buttons >button{
      color: #fff;
  }

  .hslide > .wrapper > .about{
    color: #fdfdfd;
    font-weight: 400;
    font-size: 16px;
  }
  .hslide .buttons button:first-child {
    margin-right: 16px;
    margin-left: 51px;
}
.hslide .buttons button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #fdfdfd;
    font-size: 17px;
    font-weight: 400;
    border-radius: 13px;
    cursor: pointer;
    z-index: 4;
}
  
  /* (D) SLIDE ANIMATION */
  @keyframes slideh {
    /* (D0) THE IDEA - USE KEYFRAMES TO SHIFT SLIDES *
    0% { right: 0; }
    33% { right: 100%; }
    66% { right: 200%; }
    100% { right: 0; }
   
    /* (D1) BUT THE ABOVE WILL SHIFT NON-STOP */
    /* SO WE ADD PAUSES BETWEEN EACH SLIDE */
    0% { right: 0; }
    30% { right: 0; }
    33% { right: 100%; }
    63% { right: 100%; }
    66% { right: 200%; }
    97% { right: 200%; }
    100% { right: 0; }
  }
  .hmove { animation: slideh linear 15s infinite; }
  .hmove:hover { animation-play-state: paused; }
  h3{
      font-family: 'Amatic', sans-serif;
  }
html{
    scroll-behavior: smooth;

}
 /* Project css section */
.projectBackground{
    background-image: url(images/aedrian-fYPvqnG7NO0-unsplash.jpg);
    max-width: 100%;
    max-height: 90%;
    background-size: cover;
    opacity: 1.6;
    padding: 20px;
    margin-top: 50px;
}
.projectBackground > h2{
    margin-top: 0;
    padding-left: 39%;
    font-family: 'Source serif pro', sans-serif;
    font-size: 45px;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
/*.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}*/
 
.wrapper,
.wrapper .img-area,
.social-icons a,
.buttons button{
background-color: rgba(255,255,255,0.13);
border-radius: 10px;
backdrop-filter: blur(5px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.wrapper{
position: relative;
width: 350px;
padding: 30px;
margin-right: 18px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}                                      

.wrapper .img-area{                    
height: 150px;
width: 150px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.img-area .inner-area{
height: calc(100% - 25px);
width: calc(100% - 25px);
border-radius: 50%;
}
.inner-area img{
height: 100%;
width: 100%;
border-radius: 50%;
object-fit: cover;
opacity: 0.9;
}
.wrapper .name{                        
font-size: 23px;
font-weight: 500;
color: white;
margin: 10px 0 5px 0;
}
.wrapper .about{
color: #d0d1d7;
font-weight: 400;
font-size: 16px;
}
.wrapper .social-icons{
margin: 15px 0 25px 0;
}
.social-icons a{
position: relative;
height: 40px;
width: 40px;
margin: 0 5px;
display: inline-flex;
text-decoration: none;
border-radius: 50%;
}                                      
.social-icons a:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover:before{
content: "";
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
border-radius: 50%;
background: #ecf0f3;
box-shadow: inset -3px -3px 7px #ffffff,
          inset 3px 3px 5px #ceced1;
}
.buttons button:hover:before{
z-index: -1;
border-radius: 5px;
}

.buttons button:hover{
  color: black;
}                                      
.social-icons a i{
position: relative;
z-index: 3;
text-align: center;
width: 100%;
height: 100%;
font-size: 20px;
line-height: 35px;
}
.social-icons a:nth-last-child(1) i{
color: #13d151;
}
.social-icons a:nth-last-child(2) i{
color: #e6ba12;
}
.social-icons a:nth-last-child(3) i{
color: #1da9e9;
}
.social-icons a:nth-last-child(4) i{
color: #f23400;
}

.wrapper .buttons{
display: flex;
width: 100%;
justify-content: space-between;
}
.buttons button{
position: relative;
width: 100%;
border: none;
outline: none;
padding: 12px 0;
color: #d0d1d6;                                                              
font-size: 17px;
font-weight: 400;
border-radius: 5px;
cursor: pointer;
z-index: 4;
}
.buttons button:first-child{
margin-right: 10px;
}
.buttons button:last-child{
margin-left: 10px;
}
.projectBackground > .container{
    padding-left: 100px;
}

                /* End of Project section */
.aboutus p{
    font-size: 10px;
    max-width: 29%;
    font-family: 'Merriweather';
}
.aboutus h2{
    font-size: 15px;
    font-family: 'Merriweather';
}
.footerContainer{
    background-color: rgb(248 245 245 / 4%);;
    color: white;
    box-shadow: 15px 0px 4px 1px #000000ad;
    border: 1px solid #ffffff1f;
    backdrop-filter: blur(6px);
}
.contactBackground{
    background-image: url(images/aedrian-i7GsaiiWB98-unsplash.jpg);
    max-width: 100%;
    max-height: 90%;
    background-size: cover;
    opacity: 0.8;
    padding-top: 143px;
    margin-top: 50px;
}
.text-center {
    text-align: center;
    color: #d1cece;
  }
label.required {
    color: white;
    font-size: 18px;
    
}

h3{
font-family: 'Merriweather', sans-serif;
font-size: 16px;
}
#BodyOfContactForm{
    background-image: url(images/sean-pollock-PhYq704ffdA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.section-login{
    display: flex;
    height: 32rem;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
}
.login-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 60%;
    padding: 5rem;
    color: #fff;
}
.login-left > h3{
    font-family: 'Merriweather',sans-serif;
    color: #fff;
    font-size: 20px;
}
.login-left > p{
    font-family: 'Merriweather',sans-serif;
}
.login-left > button{
    background: #263f58;
    color: #fff;
    border-radius: 20px;
    border: 2px solid #263f58;
    padding: 0.4rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.login-left > button:hover{
    background: transparent;
    border: 2px solid #fff;
    letter-spacing: 2;
}
.login-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    width: 40%;
    height: 120%;
    position: absolute;
    right: 0;
    color: #fff;
    background: rgba(10, 10, 10, 0.05);
    backdrop-filter: blur(6px);
    padding-block-end: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.login-right > p{
    max-width: 100%;
    color: #fdfdfd;

}
.login-right > h2{
    color: #fdfdfd;
    margin-block-start: 57px;
    margin-block-end: 8px;
    font-family: 'Merriweather',sans-serif;
    font-size: 27px;
}

.login-right > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}
.login-input{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0.5rem 0rem;
    width: 100%;
}
.login-input > input{
    background: transparent;
    color: #fff;
    padding: 0.4rem 1.2rem;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #fff;
}
.login-input > input::placeholder{
    color: #fff;
    font-size: 0.8rem;
}
.login-input > input:focus{
    border-bottom: 2px solid #0b283e;
}
.login-button{
    background: transparent;
    border-radius: 20px;
    width: 40%;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 1rem;
    padding: 0.4rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.login-button:hover {
    background: #114369;
    border: 2px solid #114064;
    letter-spacing: 2;
}

.footer{
    padding: 12px 0;
    color: #fff;
    backdrop-filter: blur(px);
}
.footer .social{
    text-align: center;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 60%;
    margin: 0.8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 10;
}
.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 0.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;

}
.footer ul li a{
    opacity: 2;
}
.footer .copyright {
    padding-left: 0;
    margin-top: 7px;
    text-align: center;
    font-size: 14px;
    color: #aaa;
    font-family: 'EB Garamond', sans-serif;
}
p .copyright {
    text-align: center;
    padding-left: 298px;
}
